---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import about from "../images/about.jpg";
import team1 from "../images/team1.avif";
import team2 from "../images/team2.png";
import team3 from "../images/team3.png";
---

<MainLayout title="About Us">
  <h1 class="text-4xl font-bold mb-5">About Us</h1>
  <div class="flex flex-col md:flex-row items-center justify-between gap-6">
    <div class="w-full md:w-1/2 mb-8 md:mb-0">
      <Image
        src={about}
        alt="Tech People Team"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </div>
    <div class="w-full md:w-1/2">
      <h2 class="text-3xl font-extrabold text-gray-900 mb-4">Who We Are</h2>
      <p class="text-gray-700 leading-relaxed mb-6">
        Welcome to Nationwide Transfers Ireland, where professionalism meets
        unparalleled chauffeur services. With years of experience in private
        hire, executive transfers, and airport collections, we pride ourselves
        on delivering a seamless, luxurious, and stress-free travel experience.
      </p>
      <p class="text-gray-700 leading-relaxed mb-6">
        Driving is more than just a job for us—it’s a passion. We take immense
        pride in providing safe, punctual, and discreet services tailored to
        your needs. Whether you require a corporate transfer, a special event
        ride, or a comfortable airport collection, we ensure every journey is
        smooth, efficient, and enjoyable.
      </p>
    </div>
  </div>

  <!-- Team -->
  <div class="mt-10">
    <h2 class="text-3xl font-extrabold text-gray-900 mb-8">Our Team</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <Image src={team1} alt="Team Member 1" class="w-full h-auto" />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">Mark Horan</h3>
          <p class="text-gray-70">Company Owner</p>
        </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <Image src={team2} alt="Team Member 2" class="w-full h-auto" />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">John Walsh</h3>
          <p class="text-gray-70">Sales and Digital Marketing</p>
        </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <Image src={team3} alt="Team Member 3" class="w-full h-auto" />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">
            Joanne Murphy
          </h3>
          <p class="text-gray-70">Administration</p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
