---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../utils";

const allBlogArticles: CollectionEntry<"blog">[] = await getCollection("blog");

const tags: string[] = allBlogArticles.flatMap(
  (article: any) => article.data.tags
);

const uniqueTags: string[] = [...new Set(tags)];
---

<footer style="background-color: #041233; color: #7D7C92;">
  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
      <div class="space-y-4">
        <h3 class="text-xl font-semibold mb-4">About</h3>
        <p class="text-white text-sm">
          Ireland’s definitive chauffeur hub - luxury service insights, fleet
          details, booking strategies, and industry trends for professionals and
          clients
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-xl font-semibold mb-4">Categories</h3>
        <ul class="text-white text-sm">
          {
            uniqueTags.slice(0, 3).map((tag) => (
              <li class="mb-2">
                <a href={"/articles/tag/" + tag}>#{capitalize(tag)}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="space-y-4">
        <h3 class="text-xl font-semibold mb-4">Contact</h3>
        <ul class="text-white text-sm">
          <li>Phone: 087-179 9124</li>
          <li>Email: mark.horan@outlook.ie</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
