---
import { Image } from "astro:assets";
import logo from "../images/pcs_main.jpg";
---

<nav style="background-color: #041233; color: #7D7C92;
  ">
  <div
    class="w-full flex items-center justify-between px-4 py-3 mx-auto max-w-screen-xl min-h-[64px] sm:px-6 lg:px-8"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <Image
        src={logo}
        class="h-14"
        alt="TechPeople Logo"
        width={55}
        height={55}
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        ><span class="text-indigo-400">Nationwide</span>Transfers</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <!-- <ul class="ml-10 flex items-baseline space-x-4"> -->
      <ul class="flex items-baseline space-x-4">
        <li>
          <a
            href="/"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-indigo-400"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-indigo-400"
            >About</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-indigo-400"
            >Contact</a
          >
        </li>
        <li>
          <a
            href="/pricing"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-indigo-400"
            >Pricing</a
          >
        </li>
        <li>
          <a
            href="/articles"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-indigo-400"
            >Blog</a
          >
        </li>
        <!-- <li>
          <a
            href="/mockpage"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-indigo-400"
            >Mockpage</a
          >
        </li> -->
        <li></li>
      </ul>
    </div>
  </div>
</nav>
